# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local

# local migrations

.migrations/ 



# Ignore specific route files as requested
routes/getQueries.js
routes/lodgeComplaint.js

# Ignore local trunk folder
.trunk/

